html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: linear-gradient(to top, #031fa3, #3147b8, #546cca, #7990d9, #a1b5e6, #b0c8ec, #c6dbf0, #e0ecf5, #e5f0f6, #ebf4f7, #f2f8f9, #f9fbfb); */
    background-color: #F5F5F5;
}

table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

th {
    border: 1px solid #dddddd;
    background-color: #424242;
    color: #F5F5F5;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #229799;
    color: #F5F5F5;
}

address {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 3%;
}

footer {
    text-align: center;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: square;
}

iframe {
    width: 80%;
    height: 300px;
    margin-left: 10%;
}

hr {
    width: 80%;
    margin-left: 10%;
    border: solid #dddddd 1px;
}

p {
    text-align: justify;
}

a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
    font-size: x-large;
}

a:active {
    color: #0000FF;
}

#sobre{
    width: 90%;
    padding-left: 5%;
}

#sobreP {
    text-align: justify;
    color: white;
    background-color: rgb(255, 50, 40);
}

#formacao{
    width: 90%;
    padding-left: 5%;
}

#experiencia{
    width: 90%;
    padding-left: 5%;
}

#menu {
    text-align: center;
}

#apresentacao {
    text-align: center;
}

#endereco {
    width: 80%;
    margin-left: 15%;
}

#center {
    text-align: center;
}

#foto {
    border-radius: 50%;
}