#apresentacao {
    background-color: #E9EFEC;
}

#foto {
    width: 100%;
    padding: 16px;
    border-radius: 50%;
}

#sobre {    
    padding: 16px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.topBcg {
    background-color: #16423C;
    width: 10%;
}